.error {
  background: linear-gradient(#21c08b, #ab88ab);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh);
}

.error__container {
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}
.error__container--title {
  font-size: 60px;
  margin: 0;
  animation-name: latido;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes latido {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.6);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
